<div class="row">
  @for(gasolinera of listadoGasolineras; track
  listadoGasolineras.indexOf(gasolinera)) {

  <div class="col-md-3">
    <div class="card" style="width: 18rem">
      <img src="..." class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ gasolinera.nombre }}</h5>
        <p class="card-text"></p>
        <a
          [href]="gasolinera | googleMapRoute"
          target="_blank"
          class="btn btn-primary"
          >Cómo llegar</a
        >
      </div>
    </div>
  </div>
  }
</div>
