<div class="container-fluid">
  <div class="row mt-2 mb-2">
    @for(item of listadoCasas; track item.id) {
    <div class="col-md-3 col-12">
      <div class="card" style="width: 18rem">
        <img [src]="item.photo" class="card-img-top" [alt]="item.name" />
        <div class="card-body">
          <h5 class="card-title">{{ item.name }}</h5>
          <p class="card-text">
            {{ item.city }} - {{ item.state }}<br />
            <i class="bi bi-wifi"></i> Wifi
            {{ item.wifi == true ? "ON" : "OFF" }}
          </p>

          <a href="tel:902202122" class="btn btn-primary">Call</a>
        </div>
      </div>
    </div>
    }
  </div>
</div>
